button{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    background: gray;
    color: white;
    width: 100px;
    height: 100px;
    .active{
        background: red;
    }
    .placing{
        background: green;
    }
}